<body>
    {% extends "base.html" %}
    {% block main %}
    <div class="card">
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='d.jpg') }}" alt="Picture of Darien">
            </div>
        <div class="content">
            <div class="name">Darien McIntosh</div>
            <div class="username">@d.mcintosh</div>
            <div class="location">Montego Bay, Jamaica</div>
            <div class="joined">Joined {{joined_date}}</div>
            <div class="bio">I bring ideas to life through code and design. Love crafting beautiful and functional websites. Always eager to explore new projects and connect with fellow creatives.</div>
            <div class="stats">
                <div class="stat">
                    <span class="stat-number">3</span>
                    <span>Posts</span>
                </div>
                <div class="stat">
                    <span class="stat-number">345</span>
                    <span>Following</span>
                </div>
                <div class="stat">
                    <span class="stat-number">413</span>
                    <span>Followers</span>
                </div>
            </div>
            <button class="follow-button">Follow</button>
        </div>
    </div>
    {% endblock %}
</body>
</html>